<a href="https://colab.research.google.com/github/hlaingnaomie/MMDT_T-PY101_Batch03/blob/main/NaomieHlaing/Ex02_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [5]:
my_string = "My name is python"
print(len(my_string))

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [15]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

s.count("Python")

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [11]:
list_one =["apple","banana","cherry"]
list_two = ["apple","banana","cherry","apple","cherry"]
new_list = list_one + list_two
print(new_list)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'cherry']

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [40]:
my_dict = [{"Name": "Myo", "Age": 32},{"Name": "Thida", "Age": 64}]
print(my_dict)

[{'Name': 'Myo', 'Age': 32}, {'Name': 'Thida', 'Age': 64}]

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [33]:
set1 = {"Name","age","Height"}
set2 ={"Name","status","Education"}
new_set = set1.union(set2)
print(new_set)
print(len(new_set))

{'Education', 'Name', 'Height', 'status', 'age'}
5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [24]:
string_one = input("Enter your sentence: ")
string_two =  string_one[:1] + '*' + string_one[2:] + '!!!'
print(string_two)

Enter your sentence: Hello World
H*llo World!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [39]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
punctuation = [".", ",", "?", "!", ":", ";", "\"", "'", "-", "â€”", "(", ")", "[", "]", "{", "}", "...", "/", "\\"]
no_punct =""

s =s.lower()
for char in s:
  if char not in punctuation:
    no_punct = no_punct + char

print (s)
print (no_punct)

floating-point values in python are always done in double precision; hence, python float types correspond to doubles in a c-like language.
floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [ ]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [14]:
list_one =["apple","banana","cherry"]
list_two = list_one.copy()
list_two.insert(3,"blueberry")
print(list_two)
print(list_one)

['apple', 'banana', 'cherry', 'blueberry']
['apple', 'banana', 'cherry']